@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




html {
    height: 100vh;
    background-color: rgb(223, 223, 223);
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100%
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    border-bottom: solid;
    border-width: 1pt;
    height: 20pt;
    width: 100%;

}


.nav-bar-center{
    text-align: center;
    display: none;
   
   
    

}

.nav-bar-right{
   
   

}

.nav-bar-left:hover  { color: rgb(255, 247, 133);

}




h4 {
    font-family: 'Work Sans', sans-serif;

    font-size: 10pt;
    font-weight: 800;

}

a {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 800;
    text-decoration: none;
    color: black;

}

a:hover  { color: rgb(255, 247, 133);

}




h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 22em;
    font-weight: 700;
    padding: 0;
    margin:0;
    line-height: 7pt;
    opacity: 0.5;
    color: rgb(252, 0, 0);

}



.title {
    position: relative;
    top: 8em;


}

.title2 {
    position: relative;
    top: 23em ;


}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 13pt;
    font-weight: 500;

}

.introduction {
    position: relative;
    top: 31em;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 2vh;
    max-width: 30em;




}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 80pt;
    font-weight: 700;
    position: relative;
    bottom: 8vh;
    color:rgb(49, 49, 49);
    
}

.square {
    height: 540px;
    width: 810px;
    background-color: rgb(72, 0, 240);
    opacity: 0.5;
   display: none;
    left: 40%;

}

.footer-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
    border-top: solid;
    border-width: 1pt;
    height: 27pt;
    min-width: 100%;
    position: relative;
    top: 32em;
    margin-top: 1vh;
}


.footer-bar-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    display: none;
    

}

.footer-bar-right{
    position: relative;
    top: -1vh;
    

}

.footer-bar-left{
    position: relative;
    bottom: 1vh;
    margin-left: 1vh;

}


.Works {
    position: relative;
    top: 29em ;
}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 25pt;
    font-weight: 800;
    line-height: 25pt;
    color: rgb(41, 41, 41);
    

}

h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 500;
    color: rgb(41, 41, 41);
    line-height: 12pt;
    

}

.project-title{
       
    position: relative;
    top: -2em;
    max-width: 25%; 
    }

.project-box {
   
    position: relative;
    top: 18em ;
    height: 79em;
    width: 100%;
    border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1pt;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1 1;
    justify-content: center;
    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    line-height: 0em;

}



.project-title2{
   
    position: relative;
    top: -2em;
    max-width: 25%; 
    }


    .project-box2 {
   
        position: relative;
        top: 18em ;
        height: 53em;
        width: 100%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1pt;
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex: 1 1;
        justify-content: center;
        margin-bottom: 2vh;
        margin-left: 1vh;
        margin-right: 1vh;
        line-height: 0em;
    
    }
    


.Project-images{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vh;
    justify-content: right;
    gap: 1vh;
      
}


img {
    object-fit: contain;
    max-width:48%;
   height: 300pt;
    background-color: white;
    margin-left: 1vh;
    transition: .2s ease;


 
}

img:hover {
    transform: scale(1.2);
}

@media all and (max-device-width: 480px) {
    /* Your CSS rules for your mobile phones here */
}