@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {

    background-color: rgb(207, 207, 207);
    overflow-x:hidden;
    max-height: 100%;
}

.body {
    overflow-x:hidden;
    overflow-y:auto;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 2vh;
    border-bottom: solid;
    border-width: 1pt;
    z-index: 999;
    height: 30pt;
    margin-left: 1vh;

}


.nav-bar-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 2vh;
    right: 3vh;
    

}

.nav-bar-right{
    position: relative;
    top: 2vh;

}

.nav-bar-left{
    position: relative;
    margin: 1vh;
    bottom: 1vh;

}




h4 {
    font-family: 'Work Sans', sans-serif;

    font-size: 10pt;
    font-weight: 800;

}

a {
    font-family: 'Work Sans', sans-serif;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 10pt;
    font-weight: 800;
    text-decoration: none;
    color: black;

}

a:hover  { color: rgb(255, 247, 133);

}




h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20em;
    font-weight: 700;

}



.main-content {
position: relative;
bottom: 15em;
opacity: 0.5;
left: 1vh;
color: rgb(0, 0, 0);
text-align: left;
z-index: 999;

}

.main-content2 {
    position: relative;
    bottom: 52em;
    text-align: left;
    opacity: 0.5;
    color:rgb(0, 0, 0);
    z-index: 999;

}
.main-content3 {
    position: relative;
    bottom: 74em;
    text-align: left;
    opacity: 0.5;
    color:rgb(0, 0, 0);
    z-index: 999;

}

.main-content4 {
    position: relative;
    bottom: 111em;
    left: 1vh;
    text-align: left;
    opacity: 0.5;
    color:rgb(0, 0, 0);
    z-index: 999;

}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
    font-weight: 500;

}

.introduction {
    position: relative;
    bottom: 253vh;
    font-family: 'Work Sans', sans-serif;
    max-width: 60vh;
    justify-content: right;
    z-index: 999;
    margin-left: 2vh;



}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 80pt;
    font-weight: 700;
    position: relative;
    bottom: 8vh;
    color:rgb(49, 49, 49);
    
}

.square {
    height: 540px;
    width: 810px;
    background-color: rgb(72, 0, 240);
    opacity: 0.5;
    position: relative;
    bottom: 335vh;
    left: 40%;
    z-index: 1;

}

.footer-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 318vh;
    border-bottom: solid;
    border-top: solid;
    border-width: 1pt;
    z-index: 999;
    height: 30pt;
    margin-left: 1vh;
}


.footer-bar-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    display: none;
    

}

.footer-bar-right{
    position: relative;
    top: 1vh;
    

}

.footer-bar-left{
    position: relative;
    bottom: 1vh;
    margin-left: 1vh;

}


.Works {

position: relative;
bottom: 323vh;
left: 2vh;





}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 25pt;
    font-weight: 800;
    line-height: 25pt;
    color: rgb(41, 41, 41);
    

}

h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 500;
    color: rgb(41, 41, 41);

}

.project-box {

    position: relative;
    bottom: 343vh;
    height: 106vh;
    width: 100%;
   background-color: rgb(175, 175, 175);
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1 1;
    justify-content: center;
    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 2vh;

}

.project-box2 {

    position: relative;
    bottom: 343vh;
    height: 158vh;
    width: 100%;
   background-color: rgb(175, 175, 175);
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1 1;
    justify-content: center;
    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;

}

.project-title{
   
    position: relative;
    left: 2vh; 
    max-width: 35%; 
    }



.Project-images{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vh;
    justify-content: right;
    gap: 1vh;
      
}


img {
    object-fit: contain;
    width: 50vh;
    height: 50vh;
    background-color: white;
    margin-left: 1vh;
    transition: .2s ease;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    padding: 2px;

 
}

img:hover {
    transform: scale(1.2);
}

.simple-mockup {
    display: none;
  }
  .real-life-mockup:hover + .simple-mockup {
    display: inline;
  }










