@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




html {
    
    height: 100vh;
    background: rgb(198,198,198);
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100%
    
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 1pt;
    height: 27pt;
    width: 99%;
    position: fixed;
    top: -1vh;
    margin-top: 1vh;
    background-color: rgb(223, 223, 223);
    z-index: 999 ;
}

.nav-bar-right {
position: relative;
    top: 1px;

}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 800;
    text-decoration: none;
    color: black;
    position: relative;
    top: -2.25em;
}

a {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 800;
    text-decoration: none;
    color: black;
    position: relative;
    top: 10px;
    margin-left: 10px;
}

a:hover  { 
    color: rgb(255, 247, 133);

}



h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 22em;
    font-weight: 700;
    padding: 0px;
    margin:0;
    line-height: 7pt;
    opacity: 0.5;
    color: rgb(221, 0, 0);

}



.title {
    position: relative;
    top: 9.5em;
    z-index: 998;


}

.title2 {
    position: relative;
    top: 24em ;
    z-index: 998;


}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 13pt;
    font-weight: 500;
    line-height: 14pt;

}

.introduction {
    position: relative;
    top: 32em;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 2vh;
    max-width: 30em;
    float: right;

}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 80pt;
    font-weight: 700;
    position: relative;
    bottom: 8vh;
    color:rgb(49, 49, 49);
    
}

.footer {
    border-top-style: solid;
height: 2em;
   border-bottom-style: solid;
   position: relative;
   top: 42em;
}

.footer2 {
    border-top-style: solid;
height: 2em;
   border-bottom-style: solid;
   position: relative;
   top: 28em;

}

.Works {
    position: relative;
    top: 39em ;
    left: 1em;
}


.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 29em;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 45%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: all .2s ease-in-out;
  }

  h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    font-weight: 200;
    position: relative;
    color:rgb(49, 49, 49);
    padding: 0pt;
    margin-bottom: 1pt;
    margin-top: 1pt;
    
}

.column img:hover {
    transform: scale(1.03);
}
 
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


@media screen and (max-device-width: 640px){
} 

